---
title: Authors
metaDescription: This page lists all of the Blog's authors.
layout: layouts/default.njk
pagination:
  data: collections.authors
  size: Infinity
permalink: "authors/index.html"
---


<section class="authors">
  {% for author in pagination.items %}
    <article class="post">
      <h2 class="blog-authors">
        <a href="/authors/{{ author | slug }}" class="author">{{ author | safe }}</a>
      </h2>
    </article>
  {% endfor %}
  <nav class="authors-nav">
    <a href="{{ '/blog/' | url }}" class="back-nav">← Blog index</a>
  </nav>
</section>
