@font-face {
  font-family: "Inter Tight", sans-serif;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/InterTight-VariableFont.woff2") format("woff2");
}

@font-face {
  font-family: "Geist", sans-serif;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/GeistVariableVF.woff2") format("woff2");
}

:root {
  --section-max-width: 1364px;
  --section-side-padding: 98px;
  --body-side-padding: 38px;

  --radius-large: 20px;
  --radius-button: 8px;
}

@media (max-width: 1150px) {
  :root {
    --section-side-padding: 38px;
  }
}

@media (max-width: 770px) {
  :root {
    --section-side-padding: 20px;
    --body-side-padding: 20px;
  }
}

/* new base */
.base-body {
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  gap: 40px;
}

.base-body header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.base-body main {
  margin: auto;
}

main.new-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--body-side-padding);
  padding-right: var(--body-side-padding);
}

/* contact */

.new-main .contact-wrap {
  display: flex;
  width: 100%;
  max-width: var(--section-max-width);
  margin-top: 110px;
  padding: 50px var(--section-side-padding);
  background-color: #F0F0F0;
  border-radius: var(--radius-large);
}

.new-main .contact-links {
  flex-grow: 1;
  align-self: center;
}

.new-main h1,
.new-main p {
  font-family: "Geist", sans-serif;
  font-style: normal;
  color: #2c2c2c;
}

.new-main a {
  color: #F16C12;
  font-weight: 700;
}

.new-main a:hover {
  color: #2c2c2c;
}

.new-main h1 {
  font-size: 52px;
  font-weight: 650;
  line-height: 1.2;
  margin: 10px 0;
  letter-spacing: -0.04em;
}

.new-main p {
  font-size: 22px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 30px;
}

.new-main .contact-link-icon-list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.new-main .contact-link-icon svg {
  color: #2c2c2c;
}

.new-main .contact-form {
  width: 350px;
  margin: 0 80px;
  flex-shrink: 0;
}

.new-main .contact-input {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  background: transparent;
  border-bottom: 1px solid #A5A5A5;
  padding-left: 0;
}

.new-main .contact-input::placeholder {
  font-family: "Geist", sans-serif;
  font-style: normal;
  font-size: 19px;
  color: #2c2c2c;
  opacity: 40%;
}

.new-main .contact-input:focus {
  outline: unset;
}

.new-main .contact-input:focus::placeholder {
  opacity: 0;
}

.new-main .contact-form-btn {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  background-color: #2C2C2C;
  color: white;
  padding: 16px 0;
  border-radius: 8px;
}

@media (hover: hover) {
  .new-main .contact-link-icon:hover svg {
    color: #F16C12;
  }

  .new-main .contact-form-btn:hover {
    background-color: #F16C12;
    color: #2C2C2C;
  }
}

@media (max-width: 1270px) {
  .new-main .contact-form {
    margin: 0 20px 0 60px;
  }
}

@media (max-width: 1150px) {
  .new-main .contact-wrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    padding: 80px;
  }

  .new-main .contact-links {
    align-self: unset;
  }

  .new-main .contact-form {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 770px) {
  .new-main h1 {
    font-size: 6.8vw;
  }

  .new-main .contact-wrap {
    padding: 60px 36px;
  }
  
  .new-main p {
    font-size: 19px;
  }
}

/* new base ends */

footer h1 {
  font-size: 5rem;
}

/* .feature-grid .flex-wrap {
  border: 2px solid #ff8200;
} */

.blurbblur {
  background: #000;
  filter: blur(60px);
}

.code-app {
  min-width: 25rem;
}

.token.operator {
  background-color: transparent;
}

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: 0 1px #000;
  font-size: 0.75rem;
}

html .feature-grid .code-sample code {
  max-width: 18em;
  /* font-family: 'Inter Tight', sans-serif; */
  /* font-size: 0.5rem; */
  /* line-height: 1; */
}

.code-sample {
  transition: transform 0.2s ease-in-out;
}

.my-hero .code-sample {
  /* transform: rotate(-5deg); */
  /* max-width: 26em; */
}

/* .code-sample:hover {
  transform: scale(1.2);
} */

.code-sample pre {
  overflow: scroll;
}

/* .my-hero {
  background-image: url(./static/img/crowd-blurred.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.shadow {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.shadow:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.fireproof {
  background: linear-gradient(-45deg, #000000, #ff6f00, #ffa000, #000, #ff8200);
  background-size: 400% 400%;
  animation: gradient 120s ease infinite;
}

.fireproof-text {
  color: linear-gradient(-45deg, #000000, #ff6f00, #ffa000, #000, #ff8200);
  animation: gradient 120s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
    background-rotate: 180deg;
  }

  100% {
    background-position: 0% 50%;
    background-rotate: 270deg;
  }
}

.copy-icon {
  position: relative;
  height: 1em;
  left: 1rem;
  top: 0em;
  transition: transform 0.2s ease-in-out;
}

#install-command:hover .copy-icon {
  transform: scale(1.1);
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.75s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes beat {
  0% {
    background-image: url("/static/img/copied-small.png");
    background-size: 5%;
    /* background-origin: top right; */
  }

  100% {
    background-image: none;
  }

  /* 100% {
        background-image: url('./copied-small.png');
      } */
}

#install-command {
  cursor: pointer;
  background-size: 20%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: none;
}

#install-command:focus {
  -webkit-animation: beat 0.3s ease-in-out backwards;
  animation: beat 0.3s ease-in-out backwards;
}

#install-command:active {
  -webkit-animation: none;
  animation: shake 1s ease-in-out;

  /* transition: color 0.2s step-start; */
  color: #ff8200;
}

#install-command:hover {
  /* transition: color 0.2s ease-in-out; */
  color: #ffb700;
}

@keyframes shake {
  0% {
    transform: translate(3px, 3px) rotate(0deg);
  }

  10% {
    transform: translate(-3px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(-3px, 3px) rotate(0deg);
  }

  40% {
    transform: translate(3px, -3px) rotate(1deg);
  }

  50% {
    transform: translate(-3px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 3px) rotate(-1deg);
  }

  80% {
    transform: translate(-3px, -3px) rotate(1deg);
  }

  90% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(3px, -2px) rotate(-1deg);
  }
}

/* cube */

.cubeContainer {
  width: 18rem;
  height: 18rem;
  position: relative;
  perspective: 800px;
  margin: 0 auto;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotatecube 40s infinite;
  transform-origin: 50% 50% -100px;
  animation-play-state: paused;
}

@media not all and (min-resolution: 0.001dpcm) {
  @media {
    html #cube {
      transform-origin: center;
    }
  }
}

.face .bg-white {
  min-height: 100%;
}

#cube div.face {
  display: block;
  position: absolute;
  overflow: hidden;
  transform-origin: 50% 50% -100px;
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
}

.right {
  transform: rotateY(-90deg) translateZ(100px);
}

.left {
  transform: rotateY(90deg) translateZ(100px);
}

.top {
  transform: rotateX(-90deg) rotateZ(-90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(90deg) rotateZ(-90deg) translateZ(100px);
}

@keyframes rotatecube {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  20% {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  40% {
    transform: rotateX(90deg) rotateY(90deg) rotateZ(0deg);
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  60% {
    transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  80% {
    transform: rotateX(-90deg) rotateY(270deg) rotateZ(0deg);
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

.github-fork-ribbon:before {
  background-color: #ff6f00;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

.buzzwords li {
  padding: 0.3em;
  display: inline-block;
}

form[name="contact"] input,
form[name="contact"] textarea {
  margin: 0.5em 0;
  padding: 4px;
}

a[href$="#subscribe"] {
  color: #011;
  background: linear-gradient(-45deg, #ff0, #ff6f00, #ffa000, #ff0, #ff8200);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  padding: 0.33rem;
  display: inline-block;
  text-align: center;
  margin: 0.25rem;
  border-radius: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

a[href$="#subscribe"]:hover {
  color: #229;
  transform: scale(1.2);
}

#featureTabList li:hover,
#tabList li:hover {
  background-color: #f7d38a;
}

#featureTabList li,
#tabList li {
  text-decoration: underline;
}

li.selected {
  background-color: #edbf63 !important;
}

#featureTabContent article:not(.active),
#tabContent article:not(.active) {
  display: none;
}
/* blog page */
/* blog page ends */

/* blog post page */
[data-current="post"] article.post {
  max-width: 800px;
  margin-top: 150px;
}

article.post h1 {
  font-family: "Geist", sans-serif;
  font-style: normal;
  font-weight: 650;
  font-size: 52px;
  line-height: 57px;
  letter-spacing: -0.04em;
  margin: 10px 0;
  color: #2c2c2c;
}

article.post h2,
article.post h3,
article.post h4 {
  font-family: "Inter Tight", sans-serif;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #2c2c2c;
  margin-bottom: 36px;
  margin-top: 26px;
  padding-bottom: unset;
}

article.post h3,
article.post h4 {
  margin-bottom: 16px;
}

article.post h3 {
  font-size: 24px;
}

article.post h4 {
  font-size: 20px;
}

article.post blockquote {
  box-shadow: inset 3px 0px 0px 0px #e0dede;
  background-color: #f7f7f7;
  padding: 16px 26px;
  margin: 40px 0;
  border-radius: 8px;
  display: flow-root;
}

article.post blockquote p {
  margin-bottom: unset;
  padding-bottom: unset;
  font-style: italic;
  opacity: 0.8;
}

article.post p,
article.post ol,
article.post ul {
  font-family: "Geist", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 40px;
  padding-bottom: unset;
}

article.post ol {
  padding-left: 24px;
  list-style: auto;
}

article.post ol li::marker {
  font-weight: bold;
}

article.post ul {
  list-style: disc;
  padding-left: 16px;
}

article table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
}

article table th {
  /* border: 24px solid rgba(0,0,0,0); */
  /* background-color: rgba(35,35,15,0.25); */
  padding: 0.5rem 1rem;
}

article table td {
  /* border: 24px solid rgba(0,0,0,0); */
  background-color: rgba(0, 0, 25, 0.25);
  padding: 0.5rem 1rem;
}

article.post .byline {
  font-family: "Geist", sans-serif;
  font-style: normal;
  text-align: unset;
  font-weight: 500;
  line-height: 25px;
  color: #2c2c2c;
  opacity: 0.4;
  padding-top: 10px !important;
}

article.post .byline * {
  font-size: 16px;
}

article.post .byline a {
  color: #2c2c2c !important;
}

article.post strong {
  font-weight: 700;
}

article.post pre,
article.post code {
  font-size: 17px;
}

article.post pre {
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 24px;
  background: #2d2d2d;
}

article.post p > code, 
article.post a > code,
article.post li > code  {
  background-color: #f0f0f0;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 700;
}

article.post a {
  font-weight: 700;
  color: #f16c12;
}

article.post a:hover {
  color: #2c2c2c;
}

article.post img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  margin: 0 0 40px 0;
}

article.post .tags {
  font-family: "Geist", sans-serif;
  text-align: unset;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #2c2c2c;
  opacity: 0.4;
}

article.post .tags a {
  color: #2c2c2c;
  text-decoration: unset;
  font-weight: 500;
}

article.post .tags a:hover {
  text-decoration: underline;
}

article.post .tags a:before {
  content: "#";
}

article.post nav {
  padding-top: unset;
  padding-left: unset;
}
/* blog post page ends */

/* new footer */
footer {
  width: 100%;
  margin-top: auto;
  padding-left: var(--section-side-padding);
  padding-right: var(--section-side-padding);
}

[data-current="post"] footer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.footer-links {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
  row-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-links .text-buttons:hover {
  opacity: 0.5;
  text-decoration: unset;
}

.footer-copyright {
  text-align: center;
  color: #2c2c2c;
  opacity: 0.4;
  margin-top: 82px;
  margin-bottom: 22px;
}

/* new footer ends */
