@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-display: swap;
  src: url('./fonts/InterTight-VariableFont.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-display: swap;
  src: url('./fonts/GeistVariableVF.woff2') format('woff2');
}

:root {
  --color-primary: rgba(44, 44, 44, 1);
  --color-secondary: rgba(44, 44, 44, 1);
  --color-accent: rgba(255, 129, 38, 1);
  --color-text-links: rgba(219, 92, 6, 1);
  --color-sup-text: rgba(44, 44, 44, 0.4);
  --color-background-primary: rgba(255, 255, 255, 1);
  --color-background-secondary: rgba(240, 240, 240, 1);
  --color-borders: rgba(224, 222, 222, 1);

  --section-max-width: 1364px;
  --section-side-padding: 98px;
  --body-side-padding: 38px;

  --radius-large: 20px;
  --radius-small: 12px;
  --radius-button: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: rgba(255, 255, 255, 1);
    --color-secondary: rgba(255, 255, 255, 0.6);
    --color-accent: rgba(255, 132, 63, 1);
    --color-text-links: rgba(242, 100, 4, 1);
    --color-sup-text: rgba(255, 255, 255, 0.4);
    --color-background-primary: rgba(23, 22, 22, 1);
    --color-background-secondary: rgba(32, 31, 32, 1);
    --color-borders: rgba(65, 65, 65, 1);
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 var(--body-side-padding);
  margin: 0;
  color: var(--color-primary);
  line-height: 1.2;
  background-color: var(--color-background-primary);
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Geist', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

h2 {
  font-family: 'Geist', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-wrap: balance;
}

h3 {
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

h4 {
  font-family: 'Geist', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.text {
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  font-weight: 480;
  font-size: 19px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
}

.text .bolder {
  font-weight: 700;
}

.text-buttons {
  font-family: 'Geist', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}

.text-buttons .bolder {
  font-weight: 800;
}

.text-large {
  font-family: 'Geist', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.4;
  color: var(--color-secondary);
}

.text-middle {
  font-family: 'Geist', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.text-middle .bolder {
  font-weight: 700;
}

.text-small {
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text-small .bolder {
  font-weight: 800;
}

section,
header,
footer {
  position: relative;
  width: 100%;
  max-width: var(--section-max-width);
}

section,
footer {
  padding-left: var(--section-side-padding);
  padding-right: var(--section-side-padding);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 200px;
  height: 51px;
  border: 1px solid var(--color-borders);
  border-radius: var(--radius-button);
}

.button-primary {
  background-color: var(--color-primary);
  color: var(--color-background-primary);
}

.button-secondary {
  background-color: var(--color-background-primary);
}

@media (max-width: 1150px) {
  :root {
    --section-side-padding: 38px;
  }
}

@media (max-width: 770px) {
  :root {
    --section-side-padding: 30px;
    --body-side-padding: 20px;
  }

  h1 {
    font-size: 6.8vw;
  }

  h2 {
    font-size: 7.8vw;
  }

  h3 {
    font-size: 25px;
  }

  .text-large {
    font-size: 19px;
  }
}

/* flying hint */
#flying-hint {
  padding: 8px 20px;
  border-radius: 30px;
  background-color: var(--color-accent);
  color: #2c2c2c;
  display: none;
  pointer-events: none;
}

@media (hover: hover) {
  #flying-hint {
    display: block;
  }
}

/* header */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  height: 70px;
}

header .text-buttons:hover {
  opacity: 0.5;
}

.header-logo {
  width: 110px;
  height: 30px;
  background-image: url('./images/fp-logo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: auto;
}

.header-link-icons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.header-discord,
.header-github {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-discord {
  background-image: url('./images/discord-icon.svg');
}

.header-github {
  background-image: url('./images/github-icon.svg');
}

@media (prefers-color-scheme: dark) {
  .header-logo {
    background-image: url('./images/fp-logo-white.svg');
  }

  .header-discord {
    background-image: url('./images/discord-icon-white.svg');
  }

  .header-github {
    background-image: url('./images/github-icon-white.svg');
  }
}

/* hero */
section.hero {
  position: relative;
  margin-top: 28px;
  margin-bottom: 120px;
  background-color: var(--color-background-secondary);
  border-radius: var(--radius-large);
  min-height: 600px;
}

section.hero::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('./images/dot-pattern.png');
  background-repeat: repeat;
  background-position: center;
  background-size: auto 100%;
  border-radius: var(--radius-large);
  opacity: 0.025;
  z-index: 0;
}

.hero-heading {
  position: relative;
  max-width: 500px;
  margin-top: 162px;
  margin-bottom: 20px;
}

.hero-text {
  position: relative;
  max-width: 480px;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-buttons {
  position: relative;
  display: flex;
  gap: 18px;
  width: fit-content;
}

.hero-buttons .button-secondary::before {
  content: ' ';
  width: 28px;
  height: 28px;
  background-image: url('./images/github-icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -8px;
}

@media (prefers-color-scheme: dark) {
  section.hero::before {
    filter: invert(75%);
  }

  .hero-buttons .button-secondary {
    background-color: #1f1e1e;
  }

  .hero-buttons .button-secondary::before {
    background-image: url('./images/github-icon-white.svg');
  }
}

@media (max-width: 1370px) {
  section.hero {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .hero-heading,
  .hero-app,
  .hero-buttons {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-heading {
    margin-top: unset;
    margin-bottom: 36px;
    text-align: center;
  }

  .hero-text {
    max-width: unset;
    margin-top: 36px;
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }
}

@media (max-width: 1150px) {
  section.hero {
    margin-bottom: 130px;
  }
}

@media (max-width: 550px) {
  section.hero {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .hero-buttons .button {
    width: 100%;
  }
}

/* hero app */
.hero-app {
  position: absolute;
  top: 130px;
  right: var(--section-side-padding);
  width: 594px;
  height: 365px;
  background-color: #292828;
  border: 1px solid #555453;
  border-radius: var(--radius-small);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app-header {
  position: relative;
  height: 16px;
  border-radius: 6px 6px 0 0;
  font-size: 7px;
  text-align: center;
  padding-top: 4px;
  background-color: #383736;
  color: rgba(129, 127, 127, 0.7);
  z-index: 100;
}

.app-header::before {
  content: ' ';
  position: absolute;
  left: 8px;
  width: 34px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 8'%3E%3Ccircle cx='4' cy='4' r='4' fill='%234C4C4B'/%3E%3C/svg%3E");
  background-repeat: repeat;
}

.app-body {
  flex-grow: 1;
  margin: -1px;
}

.app-body .cp_embed_wrapper,
.app-body .cp_embed_iframe {
  height: 100%;
}

@media (max-width: 1370px) {
  .hero-app {
    position: relative;
    top: unset;
    right: unset;
    width: 100%;
    max-width: 594px;
    border: 1px solid #555453;
  }
}

@media (max-width: 550px) {
  .hero-app-tabs .tab {
    font-size: 7px;
  }
}

/* benefits */
section.benefits {
  margin-bottom: 160px;
}

.benefits-heading {
  text-align: center;
}

.benefits-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.benefit {
  max-width: 290px;
}

@media (max-width: 1150px) {
  section.benefits {
    margin-bottom: 120px;
  }

  .benefits-list {
    flex-direction: column;
    align-items: center;
  }

  .benefit {
    text-align: center;
    max-width: 440px;
  }
}

/* demo */
section.demo {
  margin-bottom: 130px;
  text-align: center;
}

section.demo code {
  background-color: var(--color-background-secondary);
  padding: 2px 8px;
  border-radius: 4px;
}

.demo-heading {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}

.demo-text {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.demo-text a {
  text-decoration: underline;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-radius: 8px;
  border: 2px solid black;
}

.demo-carusel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 32vw;
  max-height: 460px;
}

.demo-carusel-item {
  position: relative;
  width: 100%;
  height: 74%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-secondary);
  border-radius: var(--radius-large);
  overflow: hidden;
  transition: all 0.4s ease;
}

.demo-carusel-item.active,
.demo-carusel-item.hovered {
  margin: 0 50px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.18);
  z-index: 100;
}

.demo-carusel-item.active {
  transform: scale(1.4);
}

.demo-carusel-item.hovered {
  transform: scale(1.5);
}

.demo-carusel-link {
  padding: 10% 5%;
  height: 100%;
  width: 100%;
}

.demo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.demo-title,
.demo-description {
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0;
  text-align: left;
  padding: 14px;
  pointer-events: none;
  user-select: none;
  z-index: 2;
  background: rgba(240, 240, 240, 0.4);
  backdrop-filter: blur(8px);
  transition: all 0.4s ease;
}

.demo-title {
  font-size: 20px;
  top: 0;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 16px;
}

.demo-description {
  font-size: 12px;
  bottom: 0;
  color: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  .demo-title,
  .demo-description {
    background: rgba(32, 31, 31, 0.6);
  }
}

@media (max-width: 1370px) {
  .demo-carusel-item.active,
  .demo-carusel-item.hovered {
    margin: 0 2vw;
  }
}

@media (max-width: 1150px) {
  .demo-text {
    margin-bottom: 80px;
  }

  .demo-carusel {
    gap: 0;
  }

  .demo-carusel-item {
    border-radius: 10px;
  }

  .demo-carusel-item.active {
    transform: scale(1.55);
    margin: 0 36px;
  }

  .demo-carusel-item:first-of-type,
  .demo-carusel-item:last-of-type {
    transform: scale(0.85);
  }

  .demo-carusel-link {
    padding: 20px 7%;
  }

  .demo-title,
  .demo-description {
    padding: 1.3vw;
  }

  .demo-title {
    font-size: 1.8vw;
  }

  .demo-description {
    font-size: 1vw;
  }
}

@media (max-width: 770px) {
  section.demo {
    margin-bottom: 100px;
  }

  .demo-carusel-item.active {
    margin: 0 2vw;
  }
}

@media (max-width: 550px) {
  .demo-carusel {
    transform: scale(1.15);
  }

  .demo-carusel-item {
    border-radius: 4px;
  }
}

/* logos */
section.logos {
  max-width: unset;
  left: 0;
  width: 100vw;
  width: 100vw;
  height: 240px;
  overflow: hidden;
  margin-bottom: 80px;
}

.logos-heading {
  text-align: center;
}

.logos-list-container {
  position: relative;
  padding-top: 130px;
  width: 100%;
}

.logos-list {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 60px;
  align-items: center;
  filter: grayscale(90%);
}

.logo-image {
  height: 44px;
  min-width: 50px;
  max-width: 140px;
  object-fit: contain;
}

.logos-animate {
  animation: logo-move linear infinite;
}

.testimonials-animate:hover {
  animation-play-state: paused;
}

@keyframes logo-move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(50% + 30px));
  }
}

@media (prefers-color-scheme: dark) {
  .logo-image {
    filter: invert(1) hue-rotate(180deg);
  }
}

@media (max-width: 770px) {
  section.logos {
    height: 40vw;
  }
}

@media (max-width: 550px) {
  section.logos {
    height: 47vw;
    margin-bottom: 40px;
  }

  .logo-image {
    height: 36px;
    min-width: 40px;
    max-width: 120px;
  }
}

/* testimonials */
section.testimonials {
  margin-bottom: 200px;
  max-width: unset;
  left: 0;
  width: 100vw;
  width: 100vw;
  overflow: hidden;
}

.testimonials-heading {
  text-align: center;
}

.testimonials-text {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 70px;
  text-align: center;
}

.testimonials-text a {
  text-decoration: underline;
}

.testimonials-list-container {
  margin-top: 60px;
  position: relative;
  width: 100%;
  height: 240px;
}

.testimonials-list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 50px;
}

.testimonials-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 328px;
}

.testimonials-author {
  order: 1;
  display: flex;
  gap: 12px;
  user-select: none;
}

.testimonials-name {
  margin: 0;
}

.testimonials-name span.text-middle {
  display: block;
  color: var(--color-sup-text);
  margin-top: 4px;
}

.testimonials-avatar {
  border-radius: 50%;
  order: -1;
}

.testimonials-body {
  height: 148px;
  border: 1px solid var(--color-borders);
  border-radius: var(--radius-small);
  padding: 18px 22px 18px 18px;
}

.testimonials-body .testimonial-text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  user-select: none;
}

.testimonials-link {
  color: var(--color-text-links);
}

.testimonials-animate {
  animation: testimonials-move linear infinite;
}

.testimonials-animate:hover {
  animation-play-state: paused;
}

@keyframes testimonials-move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(-50% - 25px));
  }
}

@media (prefers-color-scheme: dark) {
  .testimonials-body .testimonial-text {
    color: #a2a2a2;
  }
}

@media (max-width: 550px) {
  section.testimonials {
    margin-bottom: 160px;
  }

  .testimonials-list {
    gap: 30px;
  }

  .testimonials-item {
    width: 258px;
  }

  @keyframes testimonials-move {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(calc(-50% - 15px));
    }
  }
}

/* community */
section.community {
  margin-bottom: 40px;
  padding: 112px var(--body-side-padding);
  text-align: center;
  background-color: var(--color-background-secondary);
  border-radius: var(--radius-large);
}

section.community::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('./images/dot-pattern.png');
  background-repeat: repeat;
  background-position: center;
  background-size: auto 100%;
  border-radius: var(--radius-large);
  opacity: 0.025;
  z-index: 0;
}

.community-heading {
  position: relative;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.community .button {
  position: relative;
  width: 235px;
}

.community .button::before {
  content: ' ';
  width: 28px;
  height: 28px;
  background-image: url('./images/discord-icon-white.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -8px;
}

.community .trademark {
  position: absolute;
  top: -70px;
  left: 7%;
  transform: rotate(-5deg);
  transition: transform .2s ease-in-out;
}

.community .trademark:hover {
  transform: rotate(0deg);
  transform: scale(1.2);
}

@media (prefers-color-scheme: dark) {
  section.community::before {
    filter: invert(75%);
  }

  .community .button::before {
    background-image: url('./images/discord-icon.svg');
  }
}

@media (max-width: 550px) {
  .community .trademark {
    width: 200px;
    height: 131px;
  }
}

/* footer */
footer {
  width: 100%;
}

.footer-links {
  display: flex;
  column-gap: 56px;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links .text-buttons:hover {
  opacity: 0.5;
}

.footer-copyright {
  text-align: center;
  color: var(--color-sup-text);
  margin-top: 82px;
  margin-bottom: 22px;
}

@media (max-width: 1150px) {
  footer {
    padding-left: 16px;
    padding-right: 16px;
  }
}
