@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-display: swap;
  src: url('./fonts/InterTight-VariableFont.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-display: swap;
  src: url('./fonts/GeistVariableVF.woff2') format('woff2');
}

:root {
  --color-primary: rgba(44, 44, 44, 1);
  --color-secondary: rgba(44, 44, 44, 1);
  --color-accent: rgba(255, 129, 38, 1);
  --color-text-links: rgba(219, 92, 6, 1);
  --color-sup-text: rgba(44, 44, 44, 0.4);
  --color-background-primary: rgba(255, 255, 255, 1);
  --color-background-secondary: rgba(240, 240, 240, 1);
  --color-borders: rgba(224, 222, 222, 1);

  --section-max-width: 1364px;
  --section-side-padding: 98px;

  --radius-large: 20px;
  --radius-small: 12px;
  --radius-button: 8px;
}

* {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Geist', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

h2 {
  font-family: 'Geist', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

h3 {
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

h4 {
  font-family: 'Geist', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.text {
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text.bolder {
  font-weight: 700;
}

.text-buttons {
  font-family: 'Geist', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}

.text-large {
  font-family: 'Geist', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
}

.text-middle {
  font-family: 'Geist', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.text-middle.bolder {
  font-weight: 700;
}

.text-small {
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text-small .bolder {
  font-weight: 800;
}

section,
header,
footer {
  position: relative;
  width: 100%;
  max-width: var(--section-max-width);
  margin-right: 38px;
  margin-left: 38px;
}

section {
  padding-left: var(--section-side-padding);
  padding-right: var(--section-side-padding);
}

/* hero */
section.hero {
  margin-bottom: 170px;
}

.hero-buttons .text-buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 51px;
  border: 1px solid var(--color-borders);
  border-radius: var(--radius-button);
}

/* benefits */
section.benefits {
  margin-bottom: 170px;
}

.benefits-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

/* demo */
section.demo {
  margin-bottom: 170px;
  text-align: center;
}

/* testimonials */
section.testimonials {
  margin-bottom: 170px;
  max-width: unset;
}

.testimonials-list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 50px;
}

.testimonials-item {
  display: flex;
  flex-direction: column;
}

.testimonials-name {
  order: 1;
}

.testimonials-name span.text-middle {
  display: block;
  color: var(--color-sup-text);
}

/* community */
section.community {
  margin-bottom: 170px;
  text-align: center;
}

/* footer */
footer {
  width: 100%;
}

.footer-links {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.footer-copyright {
  text-align: center;
  color: var(--color-sup-text);
}





