<section class="mx-auto py-12 clear-both">

  <h2 class="text-4xl font-bold py-8 md:-ml-12">Open Source Examples</h2>
<article>
  <p class="mb-4">
    Fireproof is open source, licensed under the Apache 2.0 and MIT licenses. The <a href="https://github.com/fireproof-storage/fireproof">source code and development roadmap are managed in public</a> on GitHub, and we welcome contributors no matter how technical.
  </p>
  <p class="mb-8">
    The applications linked below are designed to inspire, and to be starting points for your own projects. Each has a running deployment, videos demos, code on GitHub, etc. Learn, fork, and go.
  </p>
</article>
  <article class="mt-8" id="llmNotebooksContent">
    <a href="https://epiphany.fireproof.storage">
      <img src="/home/epiphany.png" alt="Photo Gallery screenshot" class="float-left rounded-lg w-48 md:w-56 lg:w-64 xl:w-80 mr-4 mb-4">
    </a>
    <h3 class="text-2xl font-bold mb-6 leading-relaxed">LLM Notebooks and Workflows</h3>

    <p class="mb-4">
      The next generation of AI and machine learning is local-first, with local dashboards and workflows connecting to powerful LLM APIs. Fireproof LLM examples include <a href="https://epiphany.fireproof.storage">Auto Steps to the Epiphany</a>, a generative AI workflow for customer development, the <a href="https://github.com/jchris/smart-book/blob/main/README.md">smart book project</a> for local retreival augmented generation, and more.
    </p>
    <br class="clear-both"/>
  </article>

  <article class="mt-6" id="contentManagementContent" class="active">
    <a href="https://public-media.fireproof.storage/">
      <img src="/home/publish-media.png" alt="Photo Gallery screenshot" class="float-right rounded-lg w-48 md:w-56 lg:w-64 xl:w-80 mr-4 mb-4">
    </a>
    <h3 class="text-2xl font-bold mb-6 leading-relaxed">Content Management</h3>

    <p class="mb-4">
      Organize and publish files to the web with Fireproof. Encrypted, local-first data, with write-access to the web. Check out the <a href="https://public-media.fireproof.storage/">photo gallery</a> example to see how it publishes content directly to the web. Watch the <a href="https://www.youtube.com/watch?v=9FfPWI6H8VQ">video demo</a> to see how it works.
    </p>
    <br class="clear-both"/>
  </article>

  <article class="mt-6" id="customContent">
    <a href="https://react-typescript-starter-kit.use-fireproof.com">
      <img src="/home/starter-kit.png" alt="Starter Kit screenshot" class="float-left rounded-lg w-48 md:w-56 lg:w-64 xl:w-80 mr-4 mb-4">
    </a>
    <h3 class="text-2xl font-bold mb-6 leading-relaxed">Custom Business Software</h3>

    <p class="mb-4">
      Fireproof is designed for collaborative business software. Base your next project on Fireproof and you'll have a custom app that works offline, syncs with the cloud, and runs in the browser.
    </p>
    <p>
      Deploy on your existing stack, whether it's AWS, Vercel, Netlify, or your own servers. Fireproof's securely integrates with your existing authentication and authorization systems.
      Try the <a href="https://react-typescript-starter-kit.use-fireproof.com">TypeScript starter kit</a> to get started.
      </p>
    <br class="clear-both"/>
  </article>

  <article class="mt-6" id="localFirstGenerativeAIContent">
    <a href="https://public-media.fireproof.storage/">
      <img src="/home/local-first.png" alt="Generative AI screenshot" class="float-right rounded-lg w-48 md:w-56 lg:w-64 xl:w-80 mr-4 mb-4">
    </a>
    <h3 class="text-2xl font-bold mb-6 leading-relaxed">Local-First Generative AI</h3>
    <p class="mb-4">
      Local first generative AI is the next generation of machine learning. Fireproof is a great fit for local applications that can easily add group sharing and collaboration. 
      </p>
      <p class="mb-4">
      Check out the <a href="https://github.com/mlc-ai/web-stable-diffusion/pull/52">WebGPU Stable Diffusion UI</a> we're working on.
    </p>
    <br class="clear-both"/>
  </article>

</section>