<section class="mx-auto py-12 clear-both">

  <h2 class="text-4xl font-bold py-8 md:-ml-12">Open Source Examples</h2>

  <p class="mb-4">
    The applications linked below are designed to inspire, and to be starting points for your own projects. Each has of a running deployment, videos demos, code on GitHub, etc. Learn, fork, and go.
  </p>

  <article id="llmNotebooksContent">
    <a href="https://public-media.fireproof.storage/">
      <img src="/home/epiphany.png" alt="Photo Gallery screenshot" class="float-left rounded-lg w-48 md:w-56 lg:w-64 xl:w-80 mr-4 mb-4">
    </a>
    <h3 class="text-2xl font-bold mb-6 leading-relaxed">LLM Notebooks and Workflows</h3>

    <p class="mb-4">
      Organize and publish files to the web with Fireproof.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl quis tincidunt aliquam, nunc nisl ultrices nunc, quis ultricies nisl nunc vitae nunc. Sed euismod, nisl quis tincidunt aliquam, nunc nisl ultrices nunc, quis ultricies nisl nunc vitae nunc.
    </p>
    <br class="clear-both"/>
  </article>

  <article id="contentManagementContent" class="active">
    <a href="https://public-media.fireproof.storage/">
      <img src="/home/publish-media.png" alt="Photo Gallery screenshot" class="float-right rounded-lg w-48 md:w-56 lg:w-64 xl:w-80 mr-4 mb-4">
    </a>
    <h3 class="text-2xl font-bold mb-6 leading-relaxed">Content Management</h3>

    <p class="mb-4">
      Organize and publish files to the web with Fireproof.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl quis tincidunt aliquam, nunc nisl ultrices nunc, quis ultricies nisl nunc vitae nunc. Sed euismod, nisl quis tincidunt aliquam, nunc nisl ultrices nunc, quis ultricies nisl nunc vitae nunc.
    </p>
    <br class="clear-both"/>
  </article>

  <article id="customContent">
    <a href="https://react-typescript-starter-kit.use-fireproof.com">
      <img src="/home/starter-kit.png" alt="Starter Kit screenshot" class="float-left rounded-lg w-48 md:w-56 lg:w-64 xl:w-80 mr-4 mb-4">
    </a>
    <h3 class="text-2xl font-bold mb-6 leading-relaxed">Custom Business Software</h3>

    <p class="mb-4">
      Fireproof is designed for collaborative business software. Base your next project on Fireproof and you'll have a custom app that works offline, syncs with the cloud, and runs in the browser.
    </p>
    <p>
      Deploy on your existing stack, whether it's AWS, Vercel, Netlify, or your own servers. Fireproof's securely integrates with your existing authentication and authorization systems.
      </p>
    <br class="clear-both"/>
  </article>

  <article id="localFirstGenerativeAIContent">
    <a href="https://public-media.fireproof.storage/">
      <img src="/home/local-first.png" alt="Generative AI screenshot" class="float-right rounded-lg w-48 md:w-56 lg:w-64 xl:w-80 mr-4 mb-4">
    </a>
    <h3 class="text-2xl font-bold mb-6 leading-relaxed">Local-First Generative AI</h3>
    <p class="mb-4">
      Experience the power of local first generative AI with Fireproof.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl quis tincidunt aliquam, nunc nisl ultrices nunc, quis ultricies nisl nunc vitae nunc. Sed euismod, nisl quis tincidunt aliquam, nunc nisl ultrices nunc, quis ultricies nisl nunc vitae nunc.
    </p>
    <br class="clear-both"/>
  </article>

</section>