<article id="htmxContent" >
  <a href="https://github.com/fireproof-storage/hyperwave-hello">
    <img src="/home/htmx.png" alt="HTMX Example" class="float-left rounded-lg w-48 md:w-56 lg:w-64 xl:w-80 mr-6 mb-4">
  </a>
  <h3 class="text-2xl text-gray-800 italic mb-6 leading-relaxed">Server side render at the edge with HTMX and Bun</h3>
  <p class="mb-4">
    This HTMX app is designed to run on in edge functions, show how you can interact with Fireproof data anywhere.
  </p>
  <p class="mb-4">
   Build your own app starting from <a href="https://github.com/fireproof-storage/hyperwave-hello">the HTMX and Bun example</a>.
  </p>
</article>