<article id="javascriptContent" class="">
  <a
    href="https://github.com/fireproof-storage/fireproof/blob/main/packages/fireproof/test/www/todo.html"
  >
    <img
      src="/home/js-todos.png"
      alt="ChatGPT Expert Builder"
      class="float-left rounded-lg w-48 md:w-56 lg:w-64 xl:w-80 mr-6 mb-4"
    />
  </a>
  <h3 class="text-2xl text-gray-800 italic mb-6 leading-relaxed">
    Works with any framework or runtime
  </h3>
  <p class="mb-4">
    From web browsers and desktop apps, to servers runtimes like Node, Deno, or Bun, Fireproof makes
    it easy to build interactive features that run across multiple frameworks and runtimes.
  </p>

  <p>Install the package:</p>
  <pre class="mb-4"><code class="language-sh">npm install use-fireproof</code></pre>

  <p>Or link directly to the browser build:</p>
  <pre
    class="mb-4"
  ><code class="language-html">&lt;script src="https://cdn.jsdelivr.net/npm/@fireproof/core/dist/browser/fireproof.iife.js"&gt;&lt;/script&gt;</code></pre>
  <p class="mb-4">
    Read the
    <a href="https://use-fireproof.com/docs/database-api/basics">JavaScript API introduction</a>.
  </p>
</article>
