<article id="reactContent" class="active">
  <a href="https://react-typescript-starter-kit.use-fireproof.com">
    <img src="/home/starter-kit.png" alt="React TypeScript Vite Starter Kit" class="float-left rounded-lg w-48 md:w-56 lg:w-64 xl:w-80 mr-6 mb-4">
  </a>
  <h3 class="text-2xl text-gray-800 italic mb-6 leading-relaxed">Live query hooks simplify collaboration</h3>
  <p class="mb-4">
    Just update your data, and your UI will render automatically. No need to write any code to listen for changes.
  </p>
{# 
  <p >Install the package:</p>
  <pre class="mb-4"><code class="language-sh">npm install use-fireproof</code></pre> #}

  <p class="mb-4">
    Jump into
    <a href="https://use-fireproof.com/docs/react-tutorial">the React tutorial</a> or <a href="https://react-typescript-starter-kit.use-fireproof.com">try out the starter kit</a>. See the PartyKit and IPFS examples below for more inspiration.
  </p>
</article>