<section class="mx-auto py-12">
  <h2 class="text-4xl font-bold py-8 md:-ml-12">Write features first</h2>

  <p class="mb-4">
    Add collaborative data to your existing app, or use our starter kits and examples as jumping off
    points for your next creation. Write features before you choose a
    backend, so you can prototype in a sandbox and deploy to any cloud.
  </p>

  <nav class="flex py-4 my-8 mx-4">
    <ul id="featureTabList" class="flex flex-wrap space-x-4 text-xl">
      <span class="py-2 rounded-lg font-bold">Get started anywhere:</span>
      <li id="javascriptTab" class="py-2 px-4 rounded-lg">JavaScript</li>
      <li id="reactTab" class="py-2 px-4 rounded-lg selected">React</li>
      <li id="htmxTab" class="py-2 px-4 rounded-lg">HTMX</li>
      <li id="chatGPTTab" class="py-2 px-4 rounded-lg">ChatGPT</li>
    </ul>
  </nav>

  <div id="featureTabContent" class="leading-relaxed">
    {% include "components/features-javascript.njk" %}
    {% include "components/features-chatgpt.njk" %}
    {% include "components/features-react.njk" %}
    {% include "components/features-htmx.njk" %}
  </div>
</section>