<!-- Features Grid -->
<section class="feature-grid pt-10 px-4 sm:px-10 lg:px-32">
  <div class="container mx-auto px-5">
    <h2 class="text-4xl font-bold mb-12">Database Features</h2>

    <div class="flex items-center mb-12">
      <div class="relative">
        <div class="absolute top-0 left-0 w-full h-full rounded blurbblur"></div>
        <p class="z-10 relative text-xl">
          <strong>Fireproof</strong> is local-first software, operating directly in the browser and automatically
            synchronizing with encrypted storage. It uses verifiable operations and
            immutable data — making it more reliable than the cloud.
          </p>
      </div>
    </div>

    <div class="flex flex-wrap justify-around p-5 rounded mx-4 sm:mx-4 sm:mx-10 lg:mx-20 ">
      <div class="w-full xl:w-1/2 p-5">
        <h3 class="text-lg font-bold mb-3 ">Flexible Data</h3>
        <p class="text-sm mb-5">
            Access your JSON data from any app or website with a simple put, get, and delete interface. Access 
            binary files offline or via a global CDN. The flexible live query interface runs locally, making Fireproof apps more 
            responsive than the cloud.
          </p>
      </div>
      <div class="w-full xl:w-1/2 p-5">
        <h3 class="text-lg font-bold mb-3">Verifiable CRDTs</h3>
        <p class="text-sm mb-5">
            Rollback to previous versions of your data and merge updates from any other user. Immutable data structures
            simplify replication and improve safety and performance, while cryptographic verifiability enables 
            smart contracts and other distributed applications.
          </p>
      </div>
    </div>

    <div class="flex flex-wrap justify-around p-5 rounded mx-4 sm:mx-10 lg:mx-20">
      <div class="w-full xl:w-1/2 p-5">
        <h3 class="text-lg font-bold mb-3">Live Queries</h3>
        <p class="text-sm mb-5">
            Instantly notify users when data changes. Fireproof live updates
            and React hooks make it easy to build multi-user interactive UIs.
          </p>
      </div>

      <div class="w-full xl:w-1/2 p-5">
        <h3 class="text-lg font-bold mb-3">Self-sovereign Identity</h3>
        <p class="text-sm mb-5">
            Give users full control over their personal data and identity, without relying on a central authority. 
            Fireproof's utlizes Decentralized Identifiers (DIDs) and UCAN proofs for multi-user sharing.
          </p>
      </div>
    </div>

    <div class="flex flex-wrap justify-around p-5 rounded mx-4 sm:mx-10 lg:mx-20">
      <div class="w-full xl:w-1/2 p-5">
        <h3 class="text-lg font-bold mb-3">Easy Sharing</h3>
        <p class="text-sm mb-5">
            UCAN delegations mean Fireproof's data sharing mechanism can securely interoperate with your existing system. 
            Portable, signed proofs <strong>eliminate the need for secret bearer tokens</strong>.
          </p>
      </div>
      <div class="w-full xl:w-1/2 p-5">
        <h3 class="text-lg font-bold mb-3">Encrypted Replication</h3>
        <p class="text-sm mb-5">
            Encrypted files give you the freedom to work with any storage provider.
            Syncing state is <strong>as easy as sending a link</strong>, ensuring your data is 
            always up-to-date and accessible from any device or browser.
          </p>
      </div>
    </div>
  </section>