<!-- Footer -->
<footer>
  <ul class="footer-links">
    <li>
      <a class="text-buttons" href="https://use-fireproof.com/docs/welcome" rel="noopener noreferrer" target="_blank">Docs</a>
    </li>
    <li>
      <a class="text-buttons" href="/service-and-support/" rel="history">Contact Us</a>
    </li>
    {% set navPages = collections.all | eleventyNavigation %}
    <li>
      <a class="text-buttons" href="https://www.youtube.com/channel/UCfDatFbIMScofrlMiV2_fEg" rel="noopener noreferrer" target="_blank">YouTube</a>
    </li>
    <li>
      <a class="text-buttons" href="https://twitter.com/FireproofStorge" rel="noopener noreferrer" target="_blank">Twitter</a>
    </li>
    <li>
      <a class="text-buttons" href="https://github.com/fireproof-storage/fireproof" rel="noopener noreferrer" target="_blank">GitHub</a>
    </li>
    <li>
      <a class="text-buttons" href="https://www.linkedin.com/company/fireproof-storage/" rel="noopener noreferrer" target="_blank">LinkedIn</a>
    </li>
    <li>
      <a class="text-buttons" href="https://discord.gg/cCryrNHePH" rel="noopener noreferrer" target="_blank">Discord</a>
    </li>
    {%- for entry in navPages %}
      <li>
        <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %} class="text-buttons" rel="noopener noreferrer">{{ entry.title }}</a>
      </li>
    {%- endfor %}
    <li>
      <a class="text-buttons" href="/legal/privacy/" target="_blank" rel="history">Privacy</a>
    </li>
    <li>
      <a class="text-buttons" href="/legal/terms/" target="_blank" rel="history">Terms of Service</a>
    </li>
  </ul>
  <p class="footer-copyright text-middle">© 2024 Fireproof Storage Incorporated</p>
</footer>
