<!-- Footer -->
<footer class="py-5">
  <div class="container mx-auto px-5">

    <ul class="buzzwords text-center w-1/2 mx-auto text-4xl font-bold mt-10 mb-2">
      <li>Local</li>
      <li>Immutable</li>
      <li>Distributed</li>
      <li>Realtime</li>
      <li>Verifiable</li>
      <li>Cloudless</li>
    </ul>

    <img id="trademark" src="/static/img/lightup-big5.png" alt="Light up your data." 
      style="padding: 5% 0; width: 40%; margin: 0 auto; transform: rotate(-5deg)"/>

    <ul class="flex mt-16 justify-center flex-wrap">
      <li       class="mr-6">
        <a href="https://use-fireproof.com/docs/welcome">Documentation</a>
      </li>
      <li class="mr-6">
        <a href="/service-and-support/">Contact Us</a>
      </li>
      {% set navPages = collections.all | eleventyNavigation %}

 <li class="mr-6">
        <a href="https://www.youtube.com/channel/UCfDatFbIMScofrlMiV2_fEg">YouTube</a>
      </li>
      <li class="mr-6">
        <a href="https://twitter.com/FireproofStorge">Twitter</a>
      </li>
      <li class="mr-6">
        <a href="https://github.com/fireproof-storage/fireproof">GitHub</a>
      </li>
      <li class="mr-6">
        <a href="https://www.linkedin.com/company/fireproof-storage/">LinkedIn</a>
      </li>
      <li class="mr-6">
        <a href="https://discord.gg/DbSXGqvxFc">Discord</a>
      </li>
      {%- for entry in navPages %}
        <li class="mr-6">
          <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
        </li>
      {%- endfor %}

      <li class="mr-6">
        <a href="/legal/privacy/">Privacy</a>
      </li>
      <li class="mr-6">
        <a href="/legal/terms/">Terms of Service</a>
      </li>
    </ul>
    <p class="mt-4 text-center text-gray-500">
        &copy; 2026 Fireproof Storage Incorporated
    </p>
  </div>
</footer>
