<section class="py-12 my-hero md:-ml-12">
  <div class="container mx-auto">
    <div class="md:flex">
      <div class="mt-12 sm:mt-0 mb-4">
        <div class="catchphrase text-2xl rounded">
          <p class="text-gray-500" title="A new life awaits you in the off-world colonies, the chance to begin again in a golden land.">Simplify app development with Fireproof</p>
          <h1 class="md:whitespace-nowrap text-6xl mb-14 font-bold fireproof-text">Live database for the web</h1>
          <ul class="list-none ml-8 list-inside space-y-6">
            <li class="ml-24 mb-12"><code><span class="text-gray-500">&gt;</span> npm install use-fireproof</code></li>
            <li class="m-4">Add collaborative features to any app, page, or cloud function</li>
            <li class="m-4">Local-first database with immutable CRDTs for seamless sync</li>
            <li class="m-4">Build in the browser, connect to any cloud</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
     <div class="flex mt-6">
        <a class="w-1/2" href="https://use-fireproof.com/docs/architecture">
          <img src="/static/img/deployment.jpg" alt="Architecture with Fireproof running on web servers, edge functions, and user devices"/>
        </a>
        <div class="w-1/2">
          <h2 class="text-xl font-bold m-8">Data anywhere your app runs</h2>
          <p class="m-8">
            Fireproof is an embedded database for collaborative applications. Install it in your front-end app, or use it in any serverless cloud or edge function. Fireproof’s document API includes live updates, flexible queries, binary attachments, encrypted block replication, and multi-user sync. Fireproof enables developers to ship interactive features faster in any deployment environment.
          </p>
          <p class="m-8">
            Deploy your app however you like. Install the <a href="https://www.npmjs.com/package/use-fireproof">Fireproof module</a> into your browser or server app code and sync using <a href="https://github.com/fireproof-storage/fireproof/tree/main/packages">remixable open-source adapters</a>. Experience live updates across peers so everyone can collaborate together, with any backend. Render dynamic HTML and interact with APIs from the edge. Connect with the community to add support for more backends.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>