<!-- Menu -->
<nav>
  <a class="header-logo" href="/" rel="history"></a>
  <a class="text-buttons" href="https://use-fireproof.com/docs/welcome/" rel="noopener noreferrer">Docs</a>
  <a class="text-buttons" href="/blog/" rel="history">Blog</a>
  <div class="header-link-icons">
    <a
      class="header-discord"
      href="https://discord.gg/DbSXGqvxFc"
      rel="noopener noreferrer"
      target="_blank"
    ></a>
    <a
      class="header-github"
      href="https://github.com/fireproof-storage/fireproof"
      rel="noopener noreferrer"
      target="_blank"
    ></a>
  </div>
</nav>