<section class="">
  <h2 class="text-4xl font-bold py-8 md:-ml-12">People Love Fireproof</h2>

  <p class="mb-4">Read are some perspectives from people who enjoy writing apps with Fireproof.</p>

  <div class="container mx-auto w-5/8">
    <blockquote class="italic font-serif mt-16 text-gray-500">
      <span class="text-xl"
        >"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
        ante."</span
      >
      <p class="text-right">- John Doe, Tech Expert</p>
    </blockquote>
    <blockquote class="italic font-serif mt-16 text-gray-500">
      <span class="text-xl"
        >"Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam."</span
      >
      <p class="text-right">- Jane Smith, Tech Guru</p>
    </blockquote>
    <blockquote class="italic font-serif mt-16 text-gray-500">
      <span class="text-xl"
        >"Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</span
      >
      <p class="text-right">- Bob Johnson, Tech Visionary</p>
    </blockquote>
  </div>
</section>
