<section class="feature-grid pt-10 px-4 w-3/4 mt-12 sm:mt-0 mb-4 mx-auto">
  <div class="container mx-auto px-5 text-gray-400">
    <h2 class="text-4xl font-bold mb-12">Community feedback:</h2>

    <blockquote class="italic text-lg font-serif mb-6">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."
      <p class="text-right">- John Doe, Tech Expert</p>
    </blockquote>
    <blockquote class="italic text-lg font-serif mb-6">
      "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
      <p class="text-right">- Jane Smith, Tech Guru</p>
    </blockquote>
    <blockquote class="italic text-lg font-serif mb-6">
      "Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
      <p class="text-right">- Bob Johnson, Tech Visionary</p>
    </blockquote>
  </div>
</section>