<!-- Sub Footer -->
<div class="sub-footer">
  <!--  TO-DO finish animation -->
  <!-- <img id="trademark" src="/static/img/lightup-big5.png" alt="Light up your data." 
      style="padding: 5% 0; width: 40%; margin: 0 auto; transform: rotate(-5deg)"/> -->
</div>
