<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}
	<body class="">
		<header class="">
			{% include "components/new-nav.njk" %}
		</header>
		<main class="container mx-auto px-4 sm:px-6 md:px-8">
			<div class="w-full lg:w-3/4 xl:w-2/3 mx-auto">
				{{ layoutContent | safe }}
			</div>
		</main>
		{% include "components/footer-new.njk" %}
	</body>
	{% set js %}
	{% include "assets/js/prism.min.js" %}
	{% include "assets/js/inline.js" %}
	{% endset %}
	<script>
		{{ js | jsmin | safe }}
	</script>
	<script src="/site/main.js"></script>
</html>