---
layout: layouts/base.njk
section: home
---
{% include "components/hero.njk" %}

{% include "components/features.njk" %}
{% include "components/connect.njk" %}

{# {% include "components/quotes.njk" %} #}

{% include "components/examples.njk" %}

{# {% include "components/cta.njk" %} #}

{{ layoutContent | safe }}
