---
layout: layouts/new-base.njk
---
{# {% include "components/npm.njk" %} #}

<article class="post {{ newpost }}">
  <h1 class="text-4xl font-bold my-12">{{ title }}</h1>
{{ layoutContent | safe }}
</article>

{# {% include "components/cta.njk" %} #}
