<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}
	<body class="base-body">
		<header class="pt-3 pb-1 px-5 flex items-center justify-between">
			{% include "components/nav.njk" %}
		</header>
		<main class="new-main">
				{{ layoutContent | safe }}
		</main>
		{% include "components/footer-new.njk" %}
	</body>
	{% set js %}
	{% include "assets/js/prism.min.js" %}
	{% include "assets/js/inline.js" %}
	{% endset %}
	<script>
		{{ js | jsmin | safe }}
	</script>
	<script src="/site/main.js"></script>
</html>